*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #255EE9;
    padding: 1rem;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20%;
}

.login{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 20%;
}

.accedi{
    padding: 0.5rem 1rem;
    background-color: white;
    border-style: none;
    border-radius: 20px;
    font-weight: 500;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 80%;
}

.link{
    padding: 0.25rem 1rem;
    display: flex;
    justify-content: center;
}

.jumbotron{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url("../img/jumbo.png");
    background-size: cover;
        .jumbotron-content{
            width: 40%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
}

h1{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 2rem;
}

.paragrafo{
    margin-bottom: 1rem;
    line-height: 1.5rem;
    font-size: 16px;
}

.pulsanti .scarica{
    padding: 0.75rem 1.5rem;
    margin: 0.75rem;
    border-radius: 24px;
    border-style: none;
    background-color: white;
    font-weight: 500;
    font-size: 16px;
}

.pulsanti .apri{
    padding: 1rem 1.5rem;
    margin: 0.75rem;
    border-radius: 24px;
    border-style: none;
    background-color: #23272A;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.h2{
    font-weight: 700;
    line-height: 2.75rem;
    margin-bottom: 1rem;
    font-size: 35px;
}

.paragrafo{
    font-size: 16px;
    line-height: 1.5rem;
}

.invite_only{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 3rem;
    margin-bottom: 3rem;
        .invite_only-sxbox{
            width: 50%;
            height: 80%;
            display: flex;
            justify-content: flex-start;
        }
            .item1{
            width: 100%;
        }
        .invite_only-dxbox{
        width: 35%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5rem;
        padding-right: 10rem;
        }
}

.community{
    display: flex;
    justify-content: center;
    height: 600px;
    align-items: center;
    background-color: #F6F6F6;
    margin-top: 3rem;
    margin-bottom: 3rem;
        .community-sxbox{
            width: 35%;
            height: 80%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 10rem;
            padding-right: 5rem;
        }
        .community-dxbox{
            width: 50%;
            height: 80%;
            display: flex;
            justify-content: flex-start;
        }
            .item2{
                width: 80%;
            }
}

.fandom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 3rem;
    margin-bottom: 3rem;
        .fandom-sxbox{
            width: 50%;
            height: 80%;
            display: flex;
            justify-content: flex-end;
        }
            .item3{
            width: 80%;
        }
        .fandom-dxbox{
        width: 35%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5rem;
        padding-right: 10rem;
        }
}

.technology{
    background-color: #F6F6F6;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    text-align: center;
        .technology-content{
            width: 50%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .h2-tech{
                font-weight: 700;
                line-height: 2.75rem;
                margin-bottom: 1.25rem;
                font-size: 35px;
            }
            .paragrafo-tech{
                line-height: 1.5rem;
            }
}

.technology2{
    background-color: #F6F6F6;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: top;
    text-align: center;
        .h3{
            background-image: url("../img/stars.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center top;
            padding: 3rem;
            font-size: 25px;
        }
        .scarica-tech{
            padding: 0.75rem 1.75rem;
            border-radius: 24px;
            border-style: none;
            background-color: #8EA1E1;
            color: white;
            font-weight: 500;
            font-size: 16px;
        }
}

.footer1{
    background-color: #23272A;
    height: 400px;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5px;
    padding-top: 5rem;
        .footer1-content1{
            width: 18%;
            height: 90%;
            .h3-footer{
                color: #8EA1E1;
                margin-bottom: 1.5rem;
                font-size: 26px;
                font-weight: 700;
            }

            .lingua{
                color: white;
                font-size: 12px;
                display: flex;
                align-items: center;
            }
                .flag{
                    max-width: 25px;
                    margin-right: 0.5rem;
                }
            .icone{
                display: flex;
                flex-direction: row;
                margin-top: 1rem;
            }
        }
        .footer1-content2{
            width: 13%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .footer1-content3{
            width: 13%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .footer1-content4{
            width: 13%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .footer1-content5{
            width: 13%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
}

.footer-titoli{
    color: #8EA1E1;
    margin-bottom: 1rem;
    font-size: 13px;
}

.footer-menu{
    color: white;
    font-size: 12px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

hr{
    border: 0.25px solid #8EA1E1;
    max-width: 70%;
    align-items: center;
}

.footer2{
    background-color: #23272A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
        .footer2-content{
            width: 70%;
            height: 80%;
            display: flex;
            justify-content: space-between;
            padding-top: 0.75rem;
            padding-bottom: 1rem;
        }
            .registrati{
                display: flex;
                justify-content: flex-end;
                padding: 0.5rem 1rem;
                border-radius: 24px;
                border-style: none;
                background-color: #8EA1E1;
                color: white;
                font-weight: 500;
                font-size: 13px;
            }
}