*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #255EE9;
    padding: 1rem;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20%;
}

.login{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 20%;
}

.accedi{
    padding: 0.5rem 1rem;
    background-color: white;
    border-style: none;
    border-radius: 20px;
    font-weight: 500;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 80%;
}

.link{
    padding: 0.25rem 1rem;
    display: flex;
    justify-content: center;
}

.jumbotron{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url("../img/jumbo.png");
    background-size: cover;
        .jumbotron-content{
            width: 40%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
}

h1{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 2rem;
}

.paragrafo{
    margin-bottom: 1rem;
    line-height: 1.5rem;
    font-size: 16px;
}

.pulsanti .scarica{
    padding: 0.75rem 1.5rem;
    margin: 0.75rem;
    border-radius: 24px;
    border-style: none;
    background-color: white;
    font-weight: 500;
    font-size: 16px;
}

.pulsanti .apri{
    padding: 1rem 1.5rem;
    margin: 0.75rem;
    border-radius: 24px;
    border-style: none;
    background-color: #23272A;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.h2{
    font-weight: 800;
    line-height: 2.75rem;
    margin-bottom: 1rem;
    font-size: 35px;
}

.paragrafo{
    font-size: 16px;
    line-height: 1.5rem;
}

.invite_only{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 3rem;
    margin-bottom: 3rem;
        .invite_only-sxbox{
            width: 50%;
            height: 80%;
            display: flex;
            justify-content: flex-start;
        }
            .item1{
            width: 100%;
        }
        .invite_only-dxbox{
        width: 35%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5rem;
        padding-right: 10rem;
        }
}

.community{
    display: flex;
    justify-content: center;
    height: 600px;
    align-items: center;
    background-color: #F6F6F6;
    margin-top: 3rem;
    margin-bottom: 3rem;
        .community-sxbox{
            width: 35%;
            height: 80%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 10rem;
            padding-right: 5rem;
        }
        .community-dxbox{
            width: 50%;
            height: 80%;
            display: flex;
            justify-content: flex-start;
        }
            .item2{
                width: 80%;
            }
}

.fandom{
    display: flex;
    justify-content: center;
    height: 250px;
    align-items: center;
        .fandom-sxbox{
            background-color: #1E90FF;
            width: 50%;
            height: 80%;
            border: 3px dotted;
        }
        .fandom-dxbox{
            background-color: #FFC0CB;
            width: 30%;
            height: 80%;
            border-right: 3px dotted;
            border-top: 3px dotted;
            border-bottom: 3px dotted;
        }
        .item1{
            width: 100%;
        }
}

.technology{
    background-color: lightgrey;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
        .technology-content{
            background-color: #228B22;
            width: 80%;
            height: 80%;
            border: 3px dotted;
        }
}

.footer1{
    background-color: #23272A;
    height: 250px;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5px;
    padding-top: 0.25rem;
        .footer1-content1{
            background-color: #F08080;
            width: 40%;
            height: 90%;
            border: 3px dotted;
        }
        .footer1-content2{
            background-color: #20B2AA;
            width: 10%;
            height: 90%;
            border-right: 3px dotted white;
            border-top: 3px dotted;
            border-bottom: 3px dotted;
        }
        .footer1-content3{
            background-color: #20B2AA;
            width: 10%;
            height: 90%;
            border-right: 3px dotted white;
            border-top: 3px dotted;
            border-bottom: 3px dotted;
        }
        .footer1-content4{
            background-color: #20B2AA;
            width: 10%;
            height: 90%;
            border-right: 3px dotted white;
            border-top: 3px dotted;
            border-bottom: 3px dotted;
        }
        .footer1-content5{
            background-color: #20B2AA;
            width: 10%;
            height: 90%;
            border-right: 3px dotted;
            border-top: 3px dotted;
            border-bottom: 3px dotted;
        }
}

.footer2{
    background-color: #23272A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
        .footer2-content{
            background-color: #7FFFD4;
            width: 80%;
            height: 80%;
            display: flex;
            justify-content: space-between;
            padding-top: 0.75rem;
            padding-bottom: 1rem;
        }
            .logo-footer{
                display: flex;
                justify-content: flex-start;
                padding: 0.25rem;
                background-color: #F08080;
                border: 3px dotted;
            }
            .bottone{
                display: flex;
                justify-content: flex-end;
                background-color: #F08080;
                border: 3px dotted;
                padding: 0.25rem;
            }
}